@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
  max-width: 70px;
  border-radius: 15px;
}

.nav-color {
  background-color: #131d2f;
  /* color: red; */
}

.nav-color .container a {
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.generalContainer {
  margin: 1rem 3rem;
  border: 3px solid #131d2f;
  border-radius: 12px;
}

.generalContainer-item {
  background-color: #131d2f;
  margin: .5rem;
  border-radius: 10px;
  color: white;
  padding: 1rem;

}
.generalContainer-item p {
  margin: 0;
}

.btn-circle {
  padding: 9px 11px;
  border-radius: 50%;
}

.form-congtainer {
  background-color: #131d2f;
  padding: 12px;
  border-radius: 12px;


}

.form-congtainer-items {
  gap: 2rem;
}

.form-congtainer-items button {
  text-wrap: nowrap;
  display: flex;
  gap: 1rem;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131d2f; 
  text-align: center;
  padding: 1rem 0;
}

/* ------------------------ */
.register-container {
  margin: .5rem auto;
  padding: 30px;
  max-width: 550px;
  border-radius: 12px;
  background-color: #131d2f;
  color: white;
}

/* ------------ */
.home-img{
  width: 100%;
  height: 74vh;
  object-fit: cover;
}

.home {
  position: relative;
}

.texto-home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.home-links {
  /* list-style: none; */
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: center;

}