@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    <img src="~/lib/home.jpg" class=" home-img" alt="home">
    <div class="texto-home">
        <h1>Welcome to Pörëa Libary!</h1>
        <h3>Entra y conoce un mundo nuevo por explorar</h3>
        <div class="home-links">
            <button class="btn btn-warning"><a class="nav-link" asp-area="" asp-page="/Login">Login</a></button>
            <button class="btn btn-warning"><a class="nav-link" asp-area="" asp-page="/Register">Register</a></button>
            
        </div>
    </div>
</div>
