@page
@model Bibliosharp.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div>
     <form class="container register-container">
         <div class="mb-2">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email">
        </div>
        <div class="mb-2">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>